/*RESET*/

html, body, section, figure, div, h1, h2, h3, p, aside {
  border: 0;
  padding: 0;
  outline: 0;
  margin: 0;

  font: inherit;
  background: transparent;
  text-align: inherit;
  text-decoration: inherit;
}

@font-face {
  font-family: "Calculator";
  src: url(../vendor/digital-7-mono.ttf)
  format("truetype");
}

body {
  font-family: sans-serif;
  width: 650px;
  margin: auto;
  font-family: "Calculator", sans-serif;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.group:after {
  clear: both;
  content: "";
  display: block;
}

.main {
  margin:  80px 0 80px 80px;
  display: block;
  width: 370px;
  float: left;
}

.stats {
  display: block;
  float: left;
  position: relative;
  margin: 144px 0;
}

#board {
  display: block;
  height: 360px;
  border: 5px solid black;
  background: pink;
  position: relative;
}

.current-score-holder, .games-played-holder {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background: #FFFACD;
  position: relative;
  margin-left: 10px;
}

.current-score-header, .games-played-header {
  font-size: 25px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.current-score-header {
  margin-top: 10px;
}

.games-played-header {
  margin-top: 90px;
}

.current-score, .games-played {
  font-size: 68px;
  display: block;
  margin-top: 22px;
}

aside {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

.game-status {
  display: block;
  font-size: 24px;
  color: blue;
  position: absolute;
  white-space: pre;
  width: 360px;
  top: 50%;
  transform: translateY(-50%);
}

/*BOARD RENDERING*/

.snake, .space, .apple {
  display: block;
  width: 14px;
  height: 14px;
  float: left;
  margin: 2px;
}

.snake.eaten-apple {
  margin: 1px;
  width:  16px;
  height: 16px;
  background: green;
}

.snake {
  background: #333300;
}

.space {
  background: pink;
}

.apple {
  background-size: contain;
  background-image: url(../images/apple-red.png);
  background-repeat: no-repeat;
}
